.a{
	font-size:1cm;
	}
	
.b{
	font-size:1mm;
	}	
	
.c{
	font-size:1in;
	}	

.d{
	font-size:10pt;
	}	
	
.e{
	font-size:2pc;
	}
	
.f{
	font-size:20px;
	}	
	
.g{
	font-size:2em;
	}	
	
.h{
	font-size:1rem;
	}	
	
.i{
	font-size:2vh;
	}	
	
.j{
	font-size:2vw;
	}	
	
.k{
	font-size:10vmin;
	}	
	
.l{
	font-size:5vmax;
	}	
	
.m{
	font-size:100%;
	}	
	
	
	
	
	
	
	
	
	
	

	